Binaries
[Dd]ebug/
[Rr]elease/
bld/
[Bb]in/
[Oo]bj/

Visual Studio files
*.suo
*.user
*.pdb
*.ncb
*.aps
*.vspscc
.vssscc
_ReSharper./
*.resharper
*.bak
*.vs/
.vshost.

NuGet packages
packages/

Rider files
.idea/

Other
*.log
*.tmp
[Tt]humbs.db

Exclude .csproj.user and .sln.user files
*.csproj.user
*.sln.user